tareas_mencion
Catedra.txt

# dependencies
fer/node_modules
fer/.pnp
fer.pnp.*
fer.yarn/*
fer!.yarn/patches
fer!.yarn/plugins
fer!.yarn/releases
fer!.yarn/versions

# testing
fer/coverage

# next.js
fer/.next/
fer/out/

# production
fer/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
