attrs==25.3.0
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
click-plugins==1.1.1.2
cligj==0.7.2
dnspython==2.7.0
dotenv==0.9.9
fiona==1.10.1
Flask==3.1.2
flask-cors==6.0.1
geopandas==1.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
motor==3.7.1
numpy==2.3.2
packaging==25.0
pandas==2.3.2
pymongo==4.14.1
pyogrio==0.11.1
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.5
shapely==2.1.1
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
